<!-- templates/register.html -->

{% extends "base.html" %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.display_name.label }}<br>
        {{ form.display_name(size=32) }}
    </p>
    <p>
        {{ form.group_name.label }}<br>
        {{ form.group_name(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
{% endblock %}
