<!-- templates/view_group.html -->

{% extends "base.html" %}

{% block content %}
<div class="group-container">
    <h2>Группа: {{ group_name }}</h2>

    <h3>Участники группы</h3>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>Город</th>
                <th>Дата рождения</th>
                <th>Год поступления</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('student_details', student_id=member[0]) }}">{{ member[2] }}</a></td> <!-- display_name -->
                <td>{{ member[3] if member[3] else 'Не указано' }}</td>
                <td>{{ member[4] if member[4] else 'Не указано' }}</td>
                <td>{{ member[5].strftime('%Y-%m-%d') if member[5] else 'Не указано' }}</td>
                <td>{{ member[6] if member[6] else 'Не указано' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('groups') }}" class="back-button">Вернуться к списку групп</a>
</div>
{% endblock %}
